<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>site</title>
	<link rel="stylesheet" type="text/css" href="exercise.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg change ">
  <div class="container">
    <a class="navbar-brand" href="#"><span style="color: white;">projet Exercise #9</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><span style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span style="color: white;">abaout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span style="color: white;">contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span style="color: white;">
            Dropdown 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>

          </ul>

        </li>
      </ul>
      <form class="ms-auto">
        	<input placeholder="password" type="password" name="password">

        	<input placeholder="mail" type="mail" name="password">
        	<button type="button" class="btn btn-primary">sign it</button>
       </form>
  </div>
</nav>
<div  class="bg-danger" >
	<h1 align="center">HELLO WORD ! </h1>
	<p align="center">This is Exercice #9. includes a large callout called a jumbotron and three supporting pieces of content.</p>
	<div class="container offset-1">
		<button type="button" class="btn btn-primary">learn more</button>
	</div>

	
</div>

<br>
<div class="containe1 border:none">
	<div class="card-group">
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Heading</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <button>view detail</button>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">heading</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <button>view detail</button>
    </div>
    
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title"> heading<button style="color:white; background-color: blue;
      border-radius: 10px; align-self: center;margin-left: 25px; ">clic here </button></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <button>view detail</button>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

</body>
</html>