body{
	background-image: url(coder1.png);
    background-size: cover;
}
img{
	display: flex;

}

.main{
	display: inline-block;

}

w3-image{
	z-index:10;
  opacity:0.5;
  filter:alpha(opacity=50);
}
.3w-quater{
	display:inline-block;


}
