body{
	margin: 0px;
	height: 100vh;
	width: 100%;
	background-image:linea-gradien( to bottom )
}

#container{
	display: flex;
	justify-content: center;
	background-color: white;
	height: 300px;
	width: 400px;
margin-left: 100px;
}

#minidiv{
	display: flex;
	flex-direction: row;
	margin-left: 50px;

	background-color:white ;
	height:100px ;
	width:500px ;
	border:5px solid red ;
	align-self:center ;

}
 #minidiv1
 {
 	display: flex;
 	position: relative;
 	background-color:indigo ;
 	height: 40px;
 	width:200px ;
 	align-self: center;
 	margin-left: 10px;
 	color: white;
 	text-align: center;
 	align-content: center;
 	align-items: center;
 	justify-content: center;

 }


#minidiv2
 {
 	
 	display: flex;
 	background-color:lightblue ;
 	height: 40px;
 	width:280px ;
 	align-self: center;
 	justify-content: center;
 	color: white;
 	text-align: center;
 	align-items: center;
 	
 }
 
 
 #minidiv3
 {
 	display: flex;
 	justify-content: center;
 	
 	background-color:red ;
 	height: 40px;
 	width:200px ;
 	align-self: center;
 	margin-right: 10px;
 	color: white;
 	text-align: center;
 	align-items: center;

 }
 